/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

body{
margin:0;
padding:0;
background: #fff url(../images/bg.jpg) top center repeat;
font-family: Helvetica Neue, Helvetica, Arial;
color: #ffffff;
}

.content_wrapper{
width: 100%;
float: left;
padding-bottom: 30px;
}

.top_content{
width: 980px;
margin: 0 auto;
}

.header{
width: 940px;
float: left;
padding: 30px 20px 0;
}

.iphone{
width: 258px;
margin-left: 24px;
height: 388px;
float: left;
background: url(../images/iphone.png) left top no-repeat;
padding: 111px 24px 0 27px;
}

.logo_content{
width: 550px;
float: right;
}
.allowbutton{margin-top:20px;}

h1{
font-size: 81px;
margin-bottom: 20px;
}

h3{
font-size: 20px;
margin-bottom: 20px;
}

p{
font-size: 14px;
line-height: 22px;
margin-top: 10px;
}

a.get_notified{
width: 440px;
height: 57px;
margin: 40px 0 0 0;
float: left;
background: url(../images/button.png) left top no-repeat;
font-size: 26px;
color: #ee5627;
text-decoration: none;
font-weight: 200;
text-align: center;
line-height: 54px;
}

a.get_notified strong{
font-weight: 500;
}


a:hover.get_notified{
background: url(../images/button.png) left bottom no-repeat;
color: #ffffff;
}

.shadow{
width: 100%;
height: 16px;
background: url(../images/shadow.png) repeat;
float: left;
margin: -16px 0 0 0;
}

.white_content{
width: 100%;
background: #fff;
float: left;
}

.coming_soon{
width: 345px;
float: left;
padding: 0 0 0 34px;
}

p.c_soon{
color: #ee5627;
font-size: 34px;
font-weight: 200;
line-height: 40px;
}

p.c_soon strong{
font-size: 50px;
}

.copyright{
width: 140px;
float: left;
padding-left: 27px;
padding-top: 35px;
}

.copyright p{
font-size: 12px;
color: #666666;
}

.copyright p span{
font-size: 12px;
color: #ee5627;
}
.allowbutton h1 {
    font-size: 20px;
    background: rgba(0,0,0,.5);
    padding: 15px;
}
.success_msg .chrome_extension{ margin-top: 15px; }
div#install_app_android {margin: 10% 0 0 25%;}