
@import url(http://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
body {
    width: 100%;
    height: 100%;
}


html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
.intro-section {
    /*height: 100%;*/
    padding-top:143px;
    text-align: center;
    background: #fff;
}
.PL0{padding-left:0px;}
.PR0{padding-right:0px;}
.common-section{ height: 100%;
    padding-top: 150px;
    text-align: center;}
#link1 {background: url(../images/linkbg-1.jpg) no-repeat center center;}
#link2 {background: url(../images/linkbg-2.jpg) no-repeat center center;}
#link3 {background: url(../images/linkbg-3.jpg) no-repeat center center;}
#link4 {background: url(../images/linkbg-4.jpg) no-repeat center center;}
#link5 {background: url(../images/linkbg-5.jpg) no-repeat center center;}
#link6 {background: url(../images/linkbg-6.jpg) no-repeat center center;}
#link7 {background: url(../images/linkbg-7.jpg) no-repeat center center;}
#link8 {background: url(../images/bg2.jpg) no-repeat center center;}


.top-header{background-color:#9c2873; ackground-color: red; position: fixed; z-index: 9999; width: 100%;}
.top-header ul{list-style:none; color:#fff; font-size:13px; margin: 0px;
    padding: 5px 15px;
}
.top-header ul li{display:inline; padding-right: 25px;}
.top-header ul li a{color:#fff; font-size:13px;}
.top-header ul li a:hover{text-decoration:none;}
.fa-icon{font-size:15px;}
.navbar{padding:15px 0px;background:#f0f0f0; padding-bottom:10px;}
.navbar-ex1-collapse{margin-top:16px;}
.navbar-brand{margin-top:2px;}
.nav>li>a {
    position: relative;
    display: block;
	padding:7px;
    text-transform: uppercase;
    font-weight: 700;
	margin-right: 15px;
	background: red;
    border-radius: 5px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #fff;
}
.MT30{
    border-color: #e7e7e7;
    margin-top: 30px;
	margin-bottom:10px;
}

.link1{border:1px solid #fff; /*background-color:#e40046 !Important;*/border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.link1:hover{/*border-bottom: 1px solid #9c2873;*/ color:#fff !Important; background-color:#9c2873 !Important;}

.title{
    font-family: Oswald;
    color:#fee161;
	text-align:left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
	padding-top:100px;
}
.txt{color:#fff; font-size:15px; line-height:25px; text-align:left;}

.common-btn{text-transform: uppercase;display: inline-block;font-size: 11px;
    font-weight: 700;
    padding: 8px 50px;
    position: relative;
	margin-top:20px; text-align:left; float:left;}
.common-btn::before {position: absolute;content: '';left: -3px;right: -3px;top: -3px;bottom: -3px;}



.link1-btn{background-color: #fee161;color: #000;}
.link1-btn::before{border: 1px solid #fee161;}
.link1-btn:hover{color:#000; text-decoration:none;}

.robotics-btn{background-color: #306aa7;color: #fff;}
.robotics-btn::before{border: 1px solid #306aa7;}
.robotics-btn:hover{color:#fff; text-decoration:none;}	

.mom-btn{background-color: #76b154;color: #fff;}
.mom-btn::before{border: 1px solid #76b154;}
.mom-btn:hover{color:#fff; text-decoration:none;}	

.dance-btn{background-color: #379acf ;color: #fff;}
.dance-btn::before{border: 1px solid #379acf ;}
.dance-btn:hover{color:#fff; text-decoration:none;}	

.brain-btn{background-color: #ed7b2d;color: #fff;}
.brain-btn::before{border: 1px solid #ed7b2d;}
.brain-btn:hover{color:#fff; text-decoration:none;}	

.barry-btn{background-color: #dd3349;color: #fff;}
.barry-btn::before{border: 1px solid #dd3349;}
.barry-btn:hover{color:#fff; text-decoration:none;}	

.input-btn{background-color: #ed7b2d;color: #fff; border:0px;}	
.input-btn::before{border: 1px solid #ed7b2d;}
.input-btn:hover{color:#fff; text-decoration:none;}	

.mogly-btn{background-color: #3a7c15;color: #fff;}
.mogly-btn::before{border: 1px solid #3a7c15;}
.mogly-btn:hover{color:#fff; text-decoration:none;}	


.footer-icon{float: right; padding: 10px; padding-right:30px;}
.footer-f{font-size:24px; color:#939597;}
.footer-logo{margin-right:30px;}
#footer h2{
    font-family: Oswald;
    color: #fff;
	text-align:left;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 40px;
	padding-top:0px;
	margin-top:0px;
}
#footer h4{
    font-family: Oswald;
    color: #fff;
	text-align:left;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 25px;
	padding-top:0px;
	margin-top:15px;
	margin-bottom:0px;
}
.footer-txt{ text-align:center;padding-top: 15px; color:#000; font-size:14px;}
	
#footer a {text-align: left;
    float: left;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;}	
.news-letter-input{
    width: 80% !Important;
    height: 37px;
    background-color: transparent;
    border: 1px solid #787878 !Important;
    border-right: none;
    line-height: 37px;
    padding: 6px 12px;
    color: #ffffff;
    border-radius: 0px;
    margin-right: 10px;
}
.full-width{width: 100%; text-align: left;}
.pull-none{float:none;}
.footer-link{padding:20px 15px 20px 0px;}
.copyright{padding:20px 15px 20px 0px; color:#fff;}
.apply{color: #ed7b2d !Important;
    border-top: 1px dotted #ed7b2d;
    border-bottom: 1px dotted #ed7b2d;
}
.apply:hover{background: #ed7b2d !Important; color:#fff !Important;
    border-top: 1px dotted #ed7b2d;
    border-bottom: 1px dotted #ed7b2d;
}
.or{ext-align: center;
    display: inherit;
    font-size: 17px;
    color: #000;}
	
	.MT0{margin-top:0px;}
	
	.form-control {
    height: 30px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    
}
.sx-none{display:inline;}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 9px;
    margin-top: 18px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #9c2873 !important;
    background-image: none;
    border: 1px solid #9c2873 !important;
    border-radius: 4px;
    top: 4px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#login-dp{
    min-width: 300px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:#fff;}
#login-dp h3{
    font-family: Oswald;
    color: #ed232c;
	text-align:left;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
	padding-top:0px;
}

.dropdown-menu {left: -190px;}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

@media screen and (min-device-width: 320px) and (max-device-width: 690px) 
{
.sx-none{display:none;}
.top-header ul{text-align:center;}
.navbar-collapse{width:100%;}
.carousel{top:96px;}
.intro-section{height: 36%;}
.common-section{padding-top:0px;}
.title {
    
    font-size: 30px;
    padding-top: 0px;
}
#sports{padding-top: 75px;}

.footer-logo{margin-top:20px;}
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}




.top-link{list-style:none; font-size:12px; margin:0px; color:#fff;}
.PT10{padding-top:10px;}
.top-link li {padding: 5px 10px 5px 10px; display: inline-block;}
.top-link li  a{color:#fff; font-size:12px;}
.top-txt{    display: inline-block;
    color: #FFF;
    font-size: 12px;
    padding-top: 6px;}




.nav>li>a  i{ font-size: 25px;
    line-height: 0px;
    margin-top: 0px;
    position: relative;
    top: 3px;
    margin-right: 5px;}
	
.navbar{margin-bottom:0px;}










.PL0{padding-left:0px;}
.PR0{padding-right:0px;}
.PB15{padding-bottom:15px;}

.copyright{text-align: center;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 20px;
    margin-top: 10px;
    }
	
	.bg-trans{background: transparent;}
	
	.header-bg{background-color: #e40046 !Important; padding: 10px 0px; margin-top:0px;}
	.top-bg{background-color:#c7003d;}
	
	
	.search-input{background: #fff;
    border-radius: 0px;
    border: 1px solid #f2f2f2;
    padding: 20px;    border-radius: 5px;}
	
	.input-width{width:65% !Important; border-right:1px solid #565656;}
	.input-width1{width:35% !Important;}
	.MT8{margin-top:13px;}
	
	.search-btn{padding: 11px 19px;
    background: #101010;
    border: 0px solid;
    color: #fff;  border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
	




.navbar-inverse {
    background:#fa311b;
    border-color:#fa311b;
    border-radius: 0px;    margin-top: 85px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #c7003d;
}


.top-f{font-size: 25px;
    line-height: 0px;
    margin-top: 0px;
    position: relative;
top: 5px;}
	
.icon-user { text-align: center;
    padding: 11px 10px;
    background: #e40046;
    margin-top: 8px;
    color: #fff; font-size:14px;
}
.icon-user a {color:#fff;} 

.icon-user a :hover{text-decoration: none;}
.none-border{border: 0px;}
.price{display: list-item;
    color: #e40046;
    font-weight: bold;
    padding-top: 5px;}
	
	.logo-box{background: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 2px #c7003d;}
	
	.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    box-shadow: 2px 3px 2px #c7003d;
    border-radius: 3px;
}
.coupons{background: #fff; border-radius: 5px; color: #000 !Important; padding:8px 10px !Important; margin-top: 11px !Important;}
	
	#hearts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.heart-container {
    float: left;
    position: absolute;
    top: -20px;
    left: -20px;
    -moz-animation-duration: 8s;
    -moz-animation-name: fall;
    -moz-animation-timing-function: linear;
    -webkit-animation-duration: 8s;
    -webkit-animation-name: fall;
    -webkit-animation-timing-function: linear;
}
@-moz-keyframes fall {
    from {
        top: -20px;
    }
    to {
        top: 100%;
    }
}
@-webkit-keyframes fall {
    from {
        top: -10%;
    }
    to {
        top: 100%;
    }
}
.heart {
    overflow: hidden;
    height: 20px;
    width: 20px;
    font-size: 20px;
    text-align: center;
    color: red;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: swing;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-transform-origin: center center;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: swing;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-transform-origin: center center;
}
@-moz-keyframes swing {
    from {
        -moz-transform: rotate(-45deg) translateX(10px);
    }
    to {
        -moz-transform: rotate(45deg) translateX(-10px);
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: scaleX(1) translateX(5px);
    }
    50% {
        -moz-transform: scaleX(0.1);
    }
    to {
        -moz-transform: scaleX(1) translateX(-5px);
    }
}
@-webkit-keyframes swing {
    from {
        -webkit-transform: rotate(-45deg) translateX(10px);
    }
    to {
        -webkit-transform: rotate(45deg) translateX(-10px);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: scaleX(1) translateX(5px);
    }
    50% {
        -webkit-transform: scaleX(0.1);
    }
    to {
        -webkit-transform: scaleX(1) translateX(-5px);
    }
}
