/*---===================019/02/2016=============-*/
.compare-holder {
      background: #61bafc;
      font-family: roboto;
      position: fixed;
      right: -50px;
      top: 40%;
      transform: rotate(-90deg);
      border-radius: 4px 4px 0  0;
      width: 140px;
      text-align: center;
      padding: 10px;
  }
  .product-wrapper {
       border: 1px dashed #aaa;
       margin-bottom: 10px;
       padding: 10px;
	   height:125px;
   }
   .padding {
      padding-top: 5px;
   }
   .compare-holder a { color: #fff }
   
   .sideOpen .sideMenu {
      right: 0;
   }
   .sideOpen .sideMenu:after {
      -webkit-box-shadow: 0 0 60px 0 #111;
      box-shadow: 0 0 60px 0 #111;
   }
   .sideTrigger {
      float: right;
      padding: 30px;
   }
   .closeTrigger{
      border: 1px solid #ddd;
      border-radius: 50%;
      color: #ddd;
      display: inline-block;
      font-size: 31px;
      font-weight: bold;
      height: 30px;
      line-height: 15px;
      margin-bottom: 5px;
      margin-top: 5px;
      text-align: center;
      text-decoration: none;
      width: 30px;
	  margin-left: -15px;
   }
   .sideMenu:after {
      content: "";
      top: -10%;
      left: 0;
      height: 120%;
      width: 150%;
      z-index: -1;
      position: absolute;
      -webkit-box-shadow: 0 0 20px 0 #ccc;
      box-shadow: 0 0 20px 0 #ccc;
   }
   .sideMenu {
      position: fixed;
      top: 0;
      right: -320px;
      height: 100%;
      width: 260px;
      background: #FFF;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      -ms-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      transition: all 400ms ease;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      z-index: 999;
   }
   .compare-heading{
	   font-size:17px;
   }
   .remove-product{    
		border-radius: 0px;
        border: none;
  }
   .compare-detail-heading{ background: #f2f2f2 none repeat scroll 0 0;
    padding: 10px;
    border: 1px solid #ddd;
    color: #000;
    font-size: 13px;
    padding-left: 10px;
	font-weight: 600;
	}
	.compare-detail-heading1{
		color:#767676;
		font-size:13px;
	}
	.compare-title{    
	margin-bottom: 10px;
    overflow: hidden;
    height: 31px;
	margin-bottom:10px;
	}
	.compare-img{
	max-height: 100px;
    width: auto;
  }

  .closeTrigger i{ font-size: 12px;  }